---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

<div class="collections">
  {% for collection in site.collections %}
    {% assign collection_items = collection.docs %}
    <div class="collection">
      <h2>{{ collection.label | capitalize }}</h2>
      {% for item in collection_items %}
        <div class="item">
          <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
          <p>{{ item.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{{ content }}
